<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-2 col-md-3 left-box">
                    <!-- <div class="container"> -->
                    <img [src]="getKingImageUrl(photoFilename)" alt="King Image">
                    <!-- </div> -->
                    <h1 class="h3">{{kingName}}</h1>
                    <p>Strength: {{armyNumbers}}</p>
                    <p>Area Ruled: {{totalLand}}</p>
                </div>
                <div class="col-lg-9 col-md-8 right-box">
                    <p class="description"><b><em>{{description}}</em></b></p>
                </div>
            </div>
        </div>
    </div>
</div>
