/* You can add global styles to this file, and also import other style files */

table {
    color: white;
}

.rowTable {
    background-color: inherit;
    /* opacity: 0.9; */
    color: black;
    font-weight: bolder;
}

a {
    color: white;
}
  
th,
td {
    width: 150px;
    text-align: center;
    padding: 5px;
}

th {
    color: white;
}

td:first-child {
    color: blue;
}

