.navbar {
    padding: 2.5rem 1rem;
}
* {
    font-family: Lucida Console, Georgia, serif;
    /* background-color: rgb(15, 123, 85); */
}

.carousel-item img {
    width: 100%;
    height: 300px; /* Adjust the height as per your requirements */
    object-fit: cover;
}

.jumbo-style {
    background-color: rgb(8 26 30);
    color: rgb(170 205 169);
    padding: 5vh;
}
