<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-2 col-md-3 left-box">
                    <!-- <div class="container"> -->
                    <img [src]="getMagicianImageUrl(photoFilename)" alt="Magician Image">
                    <!-- </div> -->
                    <h1 class="h3">{{magicianName}}</h1>
                    <p class="magic">Magic: {{magics}}</p>
                </div>
                <div class="col-lg-9 col-md-8 right-box">
                    <p class="description"><b><em>{{description}}</em></b></p>
                </div>
            </div>
        </div>
    </div>
</div>